<a href="https://colab.research.google.com/github/jiin124/review_project/blob/main/%EC%95%84%EA%B3%A0%EB%8B%A4_%ED%98%B8%ED%85%94%EB%A6%AC%EB%B7%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
plt.style.use('ggplot')
import warnings
warnings.filterwarnings('ignore')

# 데이터가져오기

In [ ]:
#강릉=gn성급
gn1=pd.read_excel('/content/강릉_1성급.xlsx')
gn2=pd.read_excel('/content/강릉_2성급_호텔 큐브.xlsx')
gn3=pd.read_excel('/content/강릉_3성급_강릉 그레이 호텔.xlsx')
gn4=pd.read_excel('/content/강릉_4성급_SL 호텔 강릉.xlsx')
gn5=pd.read_excel('/content/강릉_5성급_세인트존스 호텔.xlsx')

In [ ]:
#서울=s1
s1=pd.read_excel('/content/서울_1성급.xlsx')
s2=pd.read_excel('/content/서울_2성급.xlsx')
s3=pd.read_excel('/content/서울_3성급_신라스테이_역삼.xlsx')
s4=pd.read_excel('/content/서울_4성급_신라스테이_광화문.xlsx')
s5=pd.read_excel('/content/서울_5성급_롯데호텔서울 이그제큐티브 타워.xlsx')

In [ ]:
#제주=j1
j1=pd.read_excel('/content/제주_1성급_숨 게스트 하우스 제주공항.xlsx')
j2=pd.read_excel('/content/제주_2성급_스테이 인터뷰 제주.xlsx')
j3=pd.read_excel('/content/제주_3성급_블루스프링 부띠크호텔.xlsx')
j4=pd.read_excel('/content/제주_4성급_베니키아 호텔 제주.xlsx')
j5=pd.read_excel('/content/제주_5성급_랜딩관 제주신화월드 호텔 앤 리조트.xlsx')

In [ ]:
#여수=y1
y1=pd.read_excel('/content/여수_1성급_24게스트하우스 여수.xlsx')
y2=pd.read_excel('/content/여수_2성급_여수 호텔더원.xlsx')
y3=pd.read_excel('/content/여수_3성급_나르샤 관광호텔.xlsx')
y4=pd.read_excel('/content/여수_4성급_베네치아 호텔_리조트.xlsx')
y5=pd.read_excel('/content/여수_5성급_호텔 JCS 여수.xlsx')

In [ ]:
#부산=b1
b1=pd.read_excel('/content/부산_1성급_k-게스트하우스 프리미엄 남포 1호점.xlsx')
b2=pd.read_excel('/content/부산_2등급_호텔 프리마베라 인 부산.xlsx')
b3=pd.read_excel('/content/부산_3성급_토요코 인 부산 해운대 2.xlsx')
b4=pd.read_excel('/content/부산_4성급_라비드 아틀란 호텔.xlsx')
b5=pd.read_excel('/content/부산_5성급_그랜드 조선 부산.xlsx')

## 데이터 합치기

In [ ]:
#서울
s=pd.concat([s1,s2,s3,s4,s5],axis=0)

In [ ]:
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   star                523 non-null    int64
 1   Hotel_name          523 non-null    object
 2   reviewer_rate       523 non-null    float64
 3   review_grade        418 non-null    object
 4   reviewer_name       521 non-null    object
 5   trip_type           523 non-null    object
 6   room_type           523 non-null    object
 7   trip_date&trip_day  504 non-null    object
 8   title               523 non-null    object
 9   review              523 non-null    object
 10  Date                523 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 49.0+ KB

In [ ]:
#강릉
gn=pd.concat([gn1,gn2,gn3,gn4,gn5],axis=0)
#부산
b=pd.concat([b1,b2,b3,b4,b5],axis=0)
#여수
y=pd.concat([y1,y2,y3,y4,y5],axis=0)
#제주
j=pd.concat([j1,j2,j3,j4,j5],axis=0)

In [ ]:
gn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 0 to 109
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   star                520 non-null    int64
 1   Hotel_name          520 non-null    object
 2   reviewer_rate       520 non-null    object
 3   review_grade        405 non-null    object
 4   reviewer_name       518 non-null    object
 5   trip_type           520 non-null    object
 6   room_type           520 non-null    object
 7   trip_date&trip_day  513 non-null    object
 8   title               520 non-null    object
 9   review              520 non-null    object
 10  Date                520 non-null    object
dtypes: int64(1), object(10)
memory usage: 48.8+ KB

In [ ]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   star                500 non-null    int64
 1   Hotel_name          500 non-null    object
 2   review_rate         500 non-null    float64
 3   review_grade        454 non-null    object
 4   reviewer_name       499 non-null    object
 5   trip_type           500 non-null    object
 6   room_type           483 non-null    object
 7   trip_date&trip_day  500 non-null    object
 8   title               500 non-null    object
 9   review              500 non-null    object
 10  review_date         500 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 46.9+ KB

In [ ]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   star                500 non-null    int64
 1   Hotel_name          500 non-null    object
 2   review_rate         500 non-null    float64
 3   review_grade        440 non-null    object
 4   reviewer_name       500 non-null    object
 5   trip_type           500 non-null    object
 6   room_type           479 non-null    object
 7   trip_date&trip_day  500 non-null    object
 8   title               500 non-null    object
 9   review              500 non-null    object
 10  review_date         500 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 46.9+ KB

In [ ]:
j.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 99
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   star                500 non-null    int64
 1   Hotel_name          500 non-null    object
 2   review_rate         500 non-null    float64
 3   review_grade        419 non-null    object
 4   reviewer_name       500 non-null    object
 5   trip_type           500 non-null    object
 6   room_type           483 non-null    object
 7   trip_date&trip_day  500 non-null    object
 8   title               500 non-null    object
 9   review              500 non-null    object
 10  review_date         500 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 46.9+ KB

In [ ]:
s.to_csv('서울.csv')
b.to_csv('부산.csv')
y.to_csv('여수.csv')
j.to_csv('제주.csv')
gn.to_csv('강릉.csv')

In [ ]:
df=pd.concat([s,b,y,j,gn],axis=0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2543 entries, 0 to 109
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   star                2543 non-null   int64
 1   Hotel_name          2543 non-null   object
 2   reviewer_rate       1043 non-null   object
 3   review_grade        2136 non-null   object
 4   reviewer_name       2538 non-null   object
 5   trip_type           2543 non-null   object
 6   room_type           2488 non-null   object
 7   trip_date&trip_day  2517 non-null   object
 8   title               2543 non-null   object
 9   review              2543 non-null   object
 10  Date                1043 non-null   object
 11  review_rate         1500 non-null   float64
 12  review_date         1500 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 278.1+ KB

In [ ]:
df.to_csv('Hotel_review_1.csv')

In [ ]:
df.head()

,star,Hotel_name,reviewer_rate,review_grade,reviewer_name,trip_type,room_type,trip_date&trip_day,title,review,Date,review_rate,review_date
0,1,유원호텔_서초,9.2,최고,jeon,나홀로 여행객,스탠다드 더블 베드,2020년 12월 | 1박,친절했습니다.”,아버님 서울 병원 방문 목적으로 혼자 숙박하셔야 되어 걱정많았으나 사전 전화 문의에...,작성일: 2021년 1월 1일,NaN,NaN
1,1,유원호텔_서초,7.2,좋음,Joonvum,출장 여행객,스탠다드 더블 베드,2019년 6월 | 1박,유원호텔 이용후기”,3호선 남부터미널 역이 매우 가깝고 교대역까지도 도보로 이동 가능한 거리에 위치함....,작성일: 2019년 7월 7일,NaN,NaN
2,1,유원호텔_서초,8.8,우수,JaeYoung,나홀로 여행객,디럭스 더블베드,2019년 9월 | 1박,대체적으로 만족합니다”,디럭스 더블베드룸에 숙박했습니다. 방은 깨끗했고 직원분들도 친절했습니다.\n남부터미...,작성일: 2019년 10월 1일,NaN,NaN
3,1,유원호텔_서초,9.0,최고,Hye,그룹 여행객,스탠다드룸,2016년 1월 | 1박,실내 조명(전등) 좀 환하게...”,숙박의 목적에 따라 평가가 달라지겠지만 저희는 5명 친구들과 함께 하는 거라 도란도...,작성일: 2016년 1월 19일,NaN,NaN
4,1,유원호텔_서초,10.0,최고,SUNGMIN,커플/2인 여행객,스탠다드 더블 베드,2012년 8월 | 1박,가격대비 위치 최고의 모텔”,일단 남부터미널에서 가깝고 놀라울 만큼 저렴한 숙박료에 감탄했습니다. 지방에 사는지...,작성일: 2012년 8월 23일,NaN,NaN