<a href="https://colab.research.google.com/github/jiin124/review_project/blob/main/modeling/koelectra_preds_%EC%A0%95%ED%99%95%EB%8F%84%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/content/koelectra_preds (2).csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rate       584 non-null    int64
 1   pred_rate  584 non-null    int64
 2   review     584 non-null    object
dtypes: int64(2), object(1)
memory usage: 13.8+ KB

In [4]:
df.head(4)

   rate  pred_rate                                             review
0     3          4  룸 컨디션 좋았고 직원분들 친절하셨습니다. 다만 위치상 렌트하지 않는 분들은 택시를...
1     2          2                                      시댁 어른을 모셨던 호텔
2     3          3  솔직하게 약간 속은 느낌. 위치야 정할 때부터 보긴 봤지만 실제 체감은 중심가랑 너...
3     5          5                                       조용하고 쾌적했습니다.

In [8]:
count=0

for i in range(len(df)):
  if df['rate'][i]==df['pred_rate'][i]:
    count+=1

In [9]:
print(count)

329

In [10]:
#정확도

329/584*100

56.33561643835616

In [14]:
#rate 1 개수

rate1=0
pred_rate1=0

for i in range(len(df)):
  if df['rate'][i]==1:
    rate1+=1
  if df['pred_rate'][i]==1 and df['rate'][i]==1:
    pred_rate1+=1

print("실제 rate : ",rate1)
print("1로 맞춤 rate : ",pred_rate1)
print("평점 1의 정확도 : ",pred_rate1/rate1*100)

실제 rate :  83
1로 맞춤 rate :  32
평점 1의 정확도 :  38.55421686746988

In [17]:
#rate 2 개수

rate2=0
pred_rate2=0

for i in range(len(df)):
  if df['rate'][i]==2:
    rate2+=1
  if df['pred_rate'][i]==2 and df['rate'][i]==2:
    pred_rate2+=1

print("실제 rate : ",rate2)
print("2로 맞춘 rate : ",pred_rate2)
print("평점 2의 정확도 : ",pred_rate2/rate2*100)

실제 rate :  121
2로 맞춘 rate :  87
평점 2의 정확도 :  71.900826446281

In [19]:
#rate 3 개수

rate3=0
pred_rate3=0

for i in range(len(df)):
  if df['rate'][i]==3:
    rate3+=1
  if df['pred_rate'][i]==3 and df['rate'][i]==3:
    pred_rate3+=1

print("실제 rate : ",rate3)
print("3으로 맞춘 rate : ",pred_rate3)
print("평점 3의 정확도 : ",pred_rate3/rate3*100)

실제 rate :  117
3으로 맞춘 rate :  44
평점 3의 정확도 :  37.60683760683761

In [20]:
#rate 4 개수

rate4=0
pred_rate4=0

for i in range(len(df)):
  if df['rate'][i]==4:
    rate4+=1
  if df['pred_rate'][i]==4 and df['rate'][i]==4:
    pred_rate4+=1

print("실제 rate : ",rate4)
print("4로 맞춘 rate : ",pred_rate4)
print("평점 4의 정확도 : ",pred_rate4/rate4*100)

실제 rate :  140
4로 맞춘 rate :  67
평점 4의 정확도 :  47.85714285714286

In [21]:
#rate 5 개수

rate5=0
pred_rate5=0

for i in range(len(df)):
  if df['rate'][i]==5:
    rate5+=1
  if df['pred_rate'][i]==5 and df['rate'][i]==5:
    pred_rate5+=1

print("실제 rate : ",rate5)
print("5로 맞춘 rate : ",pred_rate5)
print("평점 5의 정확도 : ",pred_rate5/rate5*100)

실제 rate :  123
5로 맞춘 rate :  99
평점 5의 정확도 :  80.48780487804879